<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="datainput" class="com.fdcapps.dbdatasync.input.DataInputResourceImpl" scope="prototype"></bean>
    <bean id="exportdata" class="com.fdcapps.dbdatasync.exportbuilder.ExportDataImpl" scope="prototype"></bean>
    <bean id="datadefinitiongen" class="com.fdcapps.dbdatasync.datadefgen.DataDefinitionGenImpl" scope="prototype"></bean>
    <bean id="datatojson" class="com.fdcapps.dbdatasync.exportbuilder.DataToJsonImpl" scope="prototype"></bean>
    <bean id="updatedata" class="com.fdcapps.dbdatasync.dataupdate.UpdateDataImpl" scope="prototype"></bean>
</beans>